.markdown {
    font-family: "inter";
    font-size: 16px;
    color: #000000;
}

.markdown 

.markdown h1 {
    color: #1D7BBE;
    font-size: 2.5rem;
    font-weight: 500;
}

.return {
    cursor: pointer;
    font-size: 2em;
    font-family: "inter";
    position: relative;
    transform: translate(-8px,-15px);
    transition: transform 1s ease;
}

.return:hover {
    transform: translate(-15px,-15px);
    transition: transform 1s ease;
}