.markdown {
    font-family: "inter";
    font-size: 16px;
    color: #333;
}

.markdown h1 {
    color: darkblue;
    font-size: 2rem;
}

.return {
    cursor: pointer;
    font-size: 2em;
    font-family: "inter";
    position: relative;
    transform: translate(-20px,-20px);
}