.nav {
    display: flex;
    width: 100%;
    gap: 4px;
}

@keyframes navHeightDecrease {
    from {height: 80vh;}
    to {
        height: 3em;
    }
}


.navItem{
    color: black;
    background-color: white;

    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.3em,1rem,2em);
    
    text-transform: uppercase;
    &:hover {
        background-color: rgba(0, 0, 0, 0.556)  !important;
        color: white !important;
    }
    @media (max-width: 768px) {
        font-size: clamp(0.7rem, 0.5vw, 1rem);
    }
}

.nav *{
    flex: 1;
    height: 100%;
}
@keyframes navItemClick {
    to {
        border-radius: 0%;
        margin: 0;
    }
}
@keyframes navItemClickReverse {
    from {
        border-radius: 0%;
        margin: 0;
    }
    to {
        border-radius: 10%;
        margin: 5%;
        margin-top: 0;
    }
}


.nav a {
    text-decoration: none !important;
}