
.summary {  
    height: auto;
    width: clamp(100px,90%,100%);
    position: relative;
    background-color: rgba(51, 51, 51, 0.936);
    border: 5px black ridge;
    color: white;

}
.summary a {
    text-decoration: none;
}
.book {
    display: flex; 
    max-width: clamp(150px,200px,300px);
    
}
.summary .info{
    color: grey;
    padding: 1%;
    font-size: clamp(0.3rem,.7rem,8rem);
    font-family: monospace;
}

.summary img {
    max-height: clamp(150px,200px,300px);
    width: auto;
    padding: 1%;
}
.summary .title {
    background-color: rgba(0, 0, 0, 0.244);
    font-family: montserrat;
    text-align: center;
    font-weight: 600;
    padding: 3%;
    font-size: 1.5em;
}

.details {
    color: white;
    font-family: monospace;
    font-size: clamp(0.5rem,.8rem,1rem);
}

.description .details {
    font-size: clamp(0.5rem,.8rem,1rem);

}




.summary:hover .hover-text {
    opacity: 1;
    transition: opacity 1s ease;

}
.summary .hover-text {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.608);
    color: white;
    font-family: "inter";
    
    opacity: 0;
    transition: opacity 2s ease;
}