
.title-container {
    flex: 1 12 12;
    display: flex;
    height: 100vh;
    animation: heightDecrease 3s 8s forwards;
}   
@keyframes heightDecrease {
    to {
        height: 20vh;
    }}


#left, #right {
    flex: 1;
}

.box {
    display: inline-block;
    justify-content: left;
    align-content: center;
}
p.title, p.title-sub{
    color: white;
    mix-blend-mode:exclusion;
    font-family: monospace;
    letter-spacing: 4px;
    border-right: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: clamp(1rem, 7vw, 3rem);
}


@keyframes cursor {
    50% { border-color: white}
}
@keyframes cursorfinish {
    to { border-color: transparent}
}
@keyframes typing {
    from {width: 0}
    to {width: 100%;}
}
@keyframes reverseTyping {
    from {width: 100%}
    to {width: 0;}
}

p#name {
    width: 0;
    border-color: black;
    text-justify: center;
    font-weight: 900;
    margin-top: 2vh;
}

@keyframes titleFinish {
    to {
        font-size: clamp(1rem, 7vw, 3rem); /* responsive font size */

    }
}


p.title-sub {
    font-size: 2em;
}

@keyframes fadeOut {
    to {
        width: 0;
    }
}


@keyframes navHeightIncrease {
    from {height: 3em;}
    to {
        height: 80vh;
    }
}

#right {
    display: flex;
    justify-content: right;
}
.title-container img {
    height: clamp(32px, 6vw, 72px);
    width: auto;
    mix-blend-mode:difference;
    filter: invert(1);

}


.title-container a {
    text-decoration: none;
}

