.art iframe {
    width: 100%;
    height: 600px;
}
.art h1 {
    font-size: 4em;
    font-family: "nothingFont", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: .5em;
}

.gallery {
    display: grid;

}
.art #art-text {
    padding: 1rem 1.25rem;
    padding-bottom: 0;
    padding-top: 0;
    font-family: "monserrat", serif;
    color: rgb(80, 79, 79);

    font-size: 1rem;
    line-height: 1.6;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}