/* Writings */
.writings{

    font-family: "inter";
}
.writings h1 {
    font-size: 2em;

}



/* Personal */

.personal {
    .page{
        display: flex;
        .timeline{
            flex: 1;
        }
        .other{
            flex: 3is ;
        }
    }
}


/* Summaries */
.summaries > .page{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 3%;
    padding-right:4%;
}


/* Article display */

.articles {
    padding-left: 5%;
    padding-right: 5%;
}

.article {
    border-bottom: solid black 1px;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.article .name {
    font-size: 2em;
}
.article .tags {
    text-align: center;
    width: 100%;
}


.article .tag::before{
    content: " #";
}
.articles a {
    text-decoration: none;
    
}

.articles a:hover {
    color: rgba(0, 0, 0, 0.262) ;
    

}