/* Writings */
.writings{

    font-family: "inter";
}
.writings h1 {
    font-size: 2em;

}



/* reviews */
.reviews > .page{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 1rem;
    place-items: center;

}


/* Article display */



.article {
    border-bottom: solid black 1px;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.article .name {
    font-size: 2em;
}
.article .tags {
    text-align: center;
    width: 100%;
}


.article .tag::before{
    content: " #";
}
.articles a {
    text-decoration: none;
    
    
}

.articles a:hover {
    color: rgba(0, 0, 0, 0.262) ;
}
