/* Writings */
.writings{

    font-family: "inter";
}
.writings h1 {
    font-size: 2em;

}





/* Article display */



.article {
    border-bottom: solid black 1px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-top: 2lh;
}

.article .name {
    font-size: 2em;
}
.article .tags {
    text-align: center;
    width: 100%;
}


.article .tag::before{
    content: " #";
}
.articles a {
    text-decoration: none;
    
    
}

.articles a:hover {
    color: rgba(0, 0, 0, 0.262) ;
}
