.writings{
    font-family: "inter";
}
.writings h1 {
    font-size: 2em;

}
.writings a {
    text-decoration: none;
    
}

.writings a:hover {
    color: rgba(0, 0, 0, 0.262) ;
    

}
.article {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.article .name {
    font-size: 2em;
}
.article .tags {
    text-align: center;
    width: 100%;
}

.article .tag{
}
.article .tag::before{
    content: " #";
}





.summaries > .page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1cm;
}