.writings{
    font-family: "inter";
}
.writings h1 {
    font-size: 2em;

}
.writings a {
    text-decoration: none;
}

.writings a:hover {
    color: rgb(255, 255, 255) ;
}
.article {
    border: rgb(0, 0, 0) solid 1px;
    justify-content: center;
    align-items: center;
}

.article .name {
    font-size: 2em;
}
