    .projectsdisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
     gap: clamp(1rem, 3vw, 2rem);
     margin: 0;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-content: space-evenly;
}
.grid > * {
  max-width: clamp(180px, 35vw, 400px);
}
@media (max-width: 500px) {
  .projectsdisplay {
    grid-template-columns: 1fr;
  }

}

.image-container{
    border-radius: 20px;

    aspect-ratio: 1.6168 / 1; /* square thumbnails */
    position: relative;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    overflow: hidden;

}


.image-container img {
    border-radius: 20px;
    width: 100%;
}

.image-container:hover .hover-text {
    border-radius: 20px;
    opacity: 1;
    transition: opacity 1s ease;

}
.image-container .hover-text {
    border-radius: 20px;
    position: absolute;
    top: 0;

    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.608);
    color: white;
    font-family: "inter";
    
    opacity: 0;
    transition: opacity 2s ease;
}


/* filter */
.filter {
    height: 20px;
    margin-bottom: 3%;
    border: blue solid 1px;
}
.filter *{
    border: solid red 1px;
}

.description{
    display: absolute;
    transform: translate(0, -25px);

}
.image-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: white; /* or any color */
  pointer-events: none;
}
label {
  display: flex;
  justify-content: center;
}

