
.page {
    background-color: rgba(238, 238, 238, 0.773);
    margin: 5%;
    margin-top: 5%;
    padding: 5%;
    padding-bottom: 20%;
    color: black;
}

.projectdisplay {
    display: grid;
    
}