.title-container {
    padding-right: 10px;
    display: flex;
    height: 100vh;
    animation: heightDecrease 3s 7s forwards;
}   
@keyframes heightDecrease {
    to {
        height: 0%;
        padding-right: 0;
    }}


#left, #right {
    flex: 1;
}

.box {
    flex: 1 13ch 13ch;
    display: inline-block;
    justify-content: left;
    align-content: center;
}
p.title, p.title-sub{
    color: white;
    mix-blend-mode:exclusion;
    font-family: monospace;
    letter-spacing: 4px;
    border-right: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 3em;
}


@keyframes cursor {
    50% { border-color: white}
}
@keyframes cursorfinish {
    to { border-color: transparent}
}
@keyframes typing {
    from {width: 0}
    to {width: 100%;}
}
@keyframes reverseTyping {
    from {width: 100%}
    to {width: 0;}
}

p#name {
    width: 0;
    border-color: black;
    text-justify: center;
    font-weight: 900;
    margin-top: 2vh;
}

@keyframes titleFinish {
    to {font-size: 5em;
        color: transparent;
        -webkit-text-stroke: 4px white;
    }
}
p.title-sub {
    font-size: 2em;
}

@keyframes fadeOut {
    to {
        width: 0;
    }
}

p#w{
    color: rgb(67, 120, 245);
    width: 0;
    border-color: black;
    animation:
        typing 1s 2s steps(14) forwards,
        cursor 0.4s 2s step-end infinite alternate,
        cursorfinish .1s 3s forwards,
        fadeOut 2s 7s forwards
}

p#s{
    color: green;
    width: 0;
    border-color: black;
    animation:
        typing 1s 3s steps(14) forwards,
        cursor 0.4s 3s step-end infinite alternate,
        cursorfinish .1s 4s forwards,
        fadeOut 2s 7s forwards
}

p#m{
    color: rgb(137, 5, 177);
    width: 0;
    border-color: black;
    animation:
        typing 1s 4s steps(15) forwards,
        cursor 0.4s 4s step-end infinite alternate,
        cursorfinish .1s 5s forwards,
        fadeOut 2s 7s forwards
}

p#a{
    color: red;
    width: 0;
    border-color: black;
    animation:
        typing 1s 5s steps(12) forwards,
        cursor 0.4s 5s step-end infinite alternate,
        cursorfinish .1s 6s forwards,
        fadeOut 2s 7s forwards
}

.title-sub-container {
    width: min-content;
}

@keyframes navHeightIncrease {
    from {height: 3em;}
    to {
        height: 80vh;
    }
}